<<<<<<< HEAD
<h1>Welcome to the Nested Forms Lab!</h1>

<form action="/pirates" method="post">
pirate name: <input type="text" name="pirate[name]">
pirate weight: <input type="integer" name="pirate[weight]">
pirate height: <input type="integer" name="pirate[height]">
ship name: <input id="ship_name_1" type="text" name="pirate[ships][][name]">
ship type: <input id="ship_type_1" type="text" name="pirate[ships][][type]">
ship booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]">
ship name: <input id="ship_name_2" type="text" name="pirate[ships][][name]">
ship type: <input id="ship_type_2" type="text" name="pirate[ships][][type]">
ship booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]">
<input id="Submit" type="submit">
=======
<h1>Make your form here</h1>

<form action="/pirates" method="post">




>>>>>>> 2d9bd3420d8a5aca1963d2d64b916d26f59ca535
</form>
